y = a.x+b
y burada tahmin etmeye çalıştığımız bağımlı değişkendir
x bağımsız değişkendir
b, y kesme noktasıdır, yeni x 0 oldugunda y'nin değeridir.
a, x'teki bir birimlik değişiklik için y'deki değişikliği temsil eden doğrunun eğimidir.

Numpy ile Veri Oluşturma

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
from ipywidgets import interactive

np.random.seed(42)

In [ ]:
x = 2 * np.random.rand(100,1) 
y = 3 * x + 4 + np.random.randn(100,1) #3x + 4

In [ ]:
plt.scatter(x, y, label='Data points' , color='blue')
plt.plot(x,3 * x + 4, label="Equation", color='red')
plt.legend()
plt.show()

In [ ]:
def plot_func(a,b):
    plt.scatter(x, y, label='Data points' , color='blue')
    plt.plot(x,a * x + b, label="Equation", color='red')
    plt.xlabel('x',fontsize=16)
    plt.ylabel('y',fontsize=16)
    plt.title(f'y = {a:.2f} * x + {b:.2f}', fontsize=20)
    plt.legend()
    plt.show()

In [ ]:
interactive(plot_func ,a=(-5,5,0.1) , b=(-5,5,0.1))

## Sklearn Linear Regression

In [ ]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()

In [ ]:
model.fit(x, y)

In [ ]:
model.coef_, model.intercept_

In [ ]:
model.predict([[1]])

In [ ]:
x_input = 1 # modellnen denklem a * x + b
# a = model.coef_
# b = model.intercept_
model.coef_ * x_input + model.intercept_

In [ ]:
#np.linalg.lstsq(x, y, rcond=None) sklerarn kaynak kodunda bu kullanılıyor

## Ev fiyatları data seti yüklenmesi ve Linear Regression uygulanması

In [ ]:
from sklearn.datasets import fetch_openml
housing = fetch_openml(name='house_prices', as_frame=True)

In [ ]:
X = housing.data
y = housing.target
X

In [ ]:
X.iloc[0]

In [ ]:
y[0]

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
"""test size, veri setinin boyutuna göre her
 pipeline veya problemde
 değikiklik gösterebilir.
 1M Satır veri varsa test_size = 0.01 olabilir"""

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [30]:
X_train

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
254,255,20,RL,70.0,8400,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
1066,1067,60,RL,59.0,7837,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,5,2009,WD,Normal
638,639,30,RL,67.0,8777,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,5,2008,WD,Normal
799,800,50,RL,60.0,7200,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,6,2007,WD,Normal
380,381,50,RL,50.0,5000,Pave,Pave,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,5,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1095,1096,20,RL,78.0,9317,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,3,2007,WD,Normal
1130,1131,50,RL,65.0,7804,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,12,2009,WD,Normal
1294,1295,20,RL,60.0,8172,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Normal
860,861,50,RL,55.0,7642,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,GdPrv,NaN,0,6,2007,WD,Normal
1126,1127,120,RL,53.0,3684,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2009,WD,Normal

In [ ]:
X_test

In [29]:
y_train

254     145000
1066    178000
638      85000
799     175000
380     127000
         ...
1095    176432
1130    135000
1294    115000
860     189950
1126    174000
Name: SalePrice, Length: 1168, dtype: int64